.button1 {
    z-index: 10;
    transition: all;
    transition-duration: 0.5s;
    border: 1px solid #00a3e7;
}

.button1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 127px;
    height: 40px;
    border-radius: 4px;
    transition: all;
    transition-duration: 0.5s;
    background-color: #00a3e7;
    transform: scaleX(0);
    transform-origin: 0 0;
    z-index: -1;
}

.button1:hover {
    color: black;
}

.button1:hover::before {
    transform: scaleX(1);
}


.navlink {
    color: white;
    /* Default color */
    cursor: pointer;
    transition: color 0.3s ease;
}

.selected {
    color: #00a3e7;
    /* Selected navlink turns blue */
}

.heading {
    position: relative;
}

.heading::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    padding: 4px;
    height: 100%;
    background-color: #00a3e7;
}

.swiperContainer :global(.swiper-button-next),
.swiperContainer :global(.swiper-button-prev) {
    color: #00a3e7 !important;
    border-radius: 50% !important;
    transition: all !important;
    filter: drop-shadow(0px 0px 5px #00a3e7) !important;
    background-color: transparent !important;
    transition-duration: 0.5s !important;
}

.swiperContainer :global(.swiper-button-next:hover),
.swiperContainer :global(.swiper-button-prev:hover) {
    color: #00a3e7 !important;
    transform: scale(1.2);
}

.swiperContainer :global(.swiper-button-next::after),
.swiperContainer :global(.swiper-button-prev::after) {
    font-size: 30px !important;
    font-weight: bolder;
}

.textShadow {
    filter: drop-shadow(0px 0px 10px #00a3e7);
}